<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%# 
    var name = '김동현'; 
    var description = "안녕하세요, node.js입니다.";
%>
<h1><%= name%></h1>
<p><%= description%></p>
<hr>
<% for(var i=0; i<10; i++) { %>
    <h2><%=i%>. hello ejs</h2>    

<% } %> 
    
</body>
</html>