doctype html
html
    head
        title   Index Page
        style.
            * {margin:0px; padding:0px;}
            h1{color:red;}
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script.
            $(function(){
                var alpha = 100;
            });
    body    
        h1 Index Page